* {
	margin: 0;
	padding: 0;
}
canvas {
  display: block;
}

body{
	background: #eee;
}

#eventos{
}
#contentEventos{
	width: 75%;
	margin: 0 auto;
}


#eventosSJF{
	float: left;
}
#eventosSRT{
	float: right;
}